/* 	Begin Modified Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body { line-height:1; letter-spacing:-0.25px; overscroll-behavior:contain; }
table { border-collapse:collapse; border-spacing:0; }
th { font-weight:normal; text-align:left; }
ul { list-style-type:none; }
.page ol { list-style-position:outside; margin-left:1em; }
/*.page ol > li, .page  ul > li { text-indent:-1em; padding-left:1em; }*/
.page .singleline li, .page .singleline li { text-indent:inherit; padding:0; }
.page ol > li > *, .page ul > li > * { text-indent:initial; padding-left:initial; }
button { background:transparent;border:none; }
/*General styles*/
html, body, #container-wrap, #container { height:100%; }
#container-wrap { position:absolute; top:0; left:0; }
#container-wrap, #container { min-height:100%; width:100%; background-color:transparent; z-index:0;}
b { font-weight:bold; }
i { font-style:italic; }
a { color:inherit; text-decoration:inherit; }
input,select,textarea { font-size:inherit; }
p:first-child { margin-top:inherit !important; }
*{ outline:none; animation-fill-mode:both !important; -webkit-animation-fill-mode:both !important; }
[data-onclick],[onclick],[onrollover],[data-fixed-action],[aria-details],button,.flipwrap{ cursor:pointer; pointer-events:auto; }

body[class^='scaled-none'],body[class*=' scaled-none']{ overflow:auto; }
body[class^='scaled-width'],body[class*=' scaled-width']{ overflow-x:hidden; }
body[class^='scaled-height'],body[class*=' scaled-height']{ overflow-y:hidden; }
body[class^='scaled-best'],body[class*=' scaled-best']{ overflow:hidden; }
body[class^='scaled-best'][data-page-mode^='c'],body[class*=' scaled-best'][data-page-mode^='c']{ overflow:auto; }
body[class^='scaled-width'][data-page-mode^='csh'],body[class*=' scaled-width'][data-page-mode^='csh']{ overflow-x:auto; }
body[class^='scaled-height'][data-page-mode^='csv'],body[class*=' scaled-height'][data-page-mode^='csv']{ overflow-y:auto; }
body[data-scaled-to='w'] #container{ height:auto; min-height:auto; }
body[data-scaled-to='w'][data-page-mode^='cs'] #container{ position:absolute; }
body[data-scaled-to='w'][data-page-mode^='csv'] .pages { padding:0;}
body.zoomed:not([class*='scaled-']) #container { position:absolute; }
body[class*='scaled-'] .pages.paper-vertical{ margin:0; }
body[class^='zoomed'],body[class*=' zoomed']{ overflow-x:auto;overflow-y:auto; }
body[data-scaled-to] .anythingSlider-in5, body[data-scaled-to] #container > .page {padding:0;margin:0;}
body[data-scaled-to] #in5footer { position:fixed; bottom:0;}
/*body[data-scaled-to] * { -webkit-backface-visibility: hidden; }*/ /*fix blurry imgs*/
html.ios body[class*='scaled-'] #container { position:absolute; top:0; left:0; }
body.tall-page {overflow-y:auto;}
.liquid .page.tall-page {height:auto;}

.paper-vertical:after {
    position:relative;
    content:' ';
    display:block;
    height:50px;
    clear:both;
}
body[data-scaled-to="h"] .paper-vertical:after { display:none; }
body[data-scaled-to='h'] .paper-horizontal { margin:0; }
body[data-scaled-to='h'] .paper-horizontal .page { margin-top:0; }

#in5footer,#demoNote,#loadIndicator{
	min-width:100%;
	color:#fff;
	background:#666;
	font-family:"Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
	text-align:center;
	font-size:15px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
}

#loadIndicator{
	width:100%; padding:6px; position:fixed;
	top:0; left:0; margin:auto;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    transition:all 1s ease-in .5s;
    opacity:1; z-index:99;
}
body.loaded #loadIndicator {
	opacity:0;
	transform:translateY(-36px);
	-webkit-transform:translateY(-36px);
	display:none\9;/*old IE*/
}
#loadIndicator img {
	vertical-align:text-bottom; width:18px;
}
html.local #loadIndicator, html.dps #loadIndicator, html.baker #loadIndicator { display:none; }

#in5footer{
	height:26px; line-height:26px; clear:both; position:relative; margin-top:-26px;
}

#demoNote {
    right:0; bottom:0; margin:auto;
    height:96px !important;
    padding:36px 10px;
}

#in5footer a, #demoNote a {
	text-decoration:none; color:#99ccff;
}
svg-img{display:block;position:absolute;}
.win-safari svg-img{width:100%;}
svg-img{width:100%\9;}
.spread-shift { position:absolute; }
.pageItem, svg { position:absolute; top:0; left:0; }
svg { overflow:visible; }
.pageItem {
	display:block;
	width:auto !important; height:auto !important;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
	padding:0;
}
.pageItem.hd/*, .pageItem img.hd*/  {
	-ms-transform:scale(.5);
    -ms-transform-origin:0 0 0;
    -webkit-transform:scale(.5);
    -webkit-transform-origin:0 0 0;
    transform:scale(.5);
    transform-origin:0 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .pageItem { image-rendering: -webkit-optimize-contrast; }
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .pageItem { image-rendering: optimizeSpeed; }
}}
@-moz-document url-prefix() {
  .pageItem { image-rendering: optimizeQuality; }
}
.svg-wrap { width:inherit !important; height:inherit !important; }
.pageItem p img { vertical-align:text-top; }
.pageItem p input, .pageItem p button {display:inline;}
.pageItem p .hidden, .details {visibility:hidden; }
.pageItem.group[data-ani] { will-change: transform; }
#colorbox .details { visibility:visible; }
.details {max-width:550px;font-size:18px;font-family:sans-serif;padding:0 24px;line-height:150%;left:0;right:0;margin:auto;}
.details p {margin-top:.5em;}
.details h1,.details h2,.details h3,.details h4,.details h5, .details strong {font-weight:bold;margin:.7em 0;}
.details em { font-style:italic; }
.details h1{font-size:150%;} .details h2{font-size:140%;} .details h3{font-size:130%;}
.details a {color:#0099ff;text-decoration:underline}
.details a:hover {text-decoration:none;}
@media (max-device-width:812px){ .details { font-size:32px; } }
html.ios .iframe-container { overflow:auto; -webkit-overflow-scrolling:touch; }
iframe[scrolling="auto"] { overflow:auto; }
iframe[scrolling="yes"] { overflow:scroll; }
iframe[scrolling="no"] { overflow:hidden; }
.page-scale-wrap { transform:translateZ(0); }
.page, .page-scale-wrap {
	position:relative; float:left; overflow:hidden;
}
.pages {
	list-style:none outside none;
	padding:0; margin:0 auto ;
}	
#container > .page { /*center single page baker*/
    position:absolute; bottom:0;
    left:0; right:0; top:0; margin:0 auto;
}
body:not(.zoomed,.responsive) #container/*, .page-scale-wrap*/ {/*desktop scaling transitions*/
	-webkit-transition:-webkit-transform .5s;
	transition:transform .5s;
}
html.multifile body #container { opacity:0; }
html.multifile body.loaded #container {/*do show scaling of multi-page*/
	opacity:1;
	-ms-transition:opacity .1s step-start .1s !important;
	-webkit-transition:opacity .1s step-start .1s !important;
	transition:opacity .1s step-start .1s !important;
}
html.multifile.fade body.loaded #container {
	-ms-transition:opacity .6s !important;
	-webkit-transition:opacity .6s !important;
	transition:opacity .6s !important;
}

.textColumn { float:left; }
.singleline p { line-height:1em !important; position:absolute;width:100%;/*fix webkit display issue*/ }
p.col-break-before::before {
	content:'';
    height:0px; width:100%;
    display:block; margin-bottom:100%;
}
.scroll, .scroll-vert, .scroll-horiz { -webkit-overflow-scrolling:touch; }/*was broken in iOS, turn off if scroll not working*/
.scroll { overflow:auto; }
.scroll-vert { overflow-y:auto; overflow-x:hidden; }
.scroll-horiz { overflow-x:auto; overflow-y:hidden; }
.scroll-vert::-webkit-scrollbar { -webkit-appearance:none; width:7px; } /*add back scrollbar for webkit*/
.scroll-vert::-webkit-scrollbar-thumb { border-radius:4px; background-color:rgba(0,0,0,.5); }
.hidescroll::-webkit-scrollbar { display:none; }
.hidescroll { -ms-overflow-style:none; overflow:-moz-scrollbars-none;/*old FF*/ }
.pulltab-left, .pulltab-left > * {
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.pulltab-top, .pulltab-top > * {
	-moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
object, embed, img, a { outline:0; }
.liquid svg, .liquid .page-scale-wrap { height:100%; width:100%; }
.noPlugin {
	width:100%; height:100%; padding:6px;
	background:#ccc; border:1px solid #666;
}

.paper-vertical, .paper-horizontal { padding:0 8px; }
.flip { 
	overflow:hidden; 
	-webkit-transition:transform 0.3s ease-in-out;
	-ms-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.turn-page-wrapper{
	will-change:transform;
}
.turn-page {
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.7);
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.7);
    box-shadow:0px 0px 20px rgba(0,0,0,.7);
}
.turn-page:not(.activePage) .pageItem[data-ani] { /*fix 2x animation*/
  	opacity:0;
  	animation:none !important;
}
.paper-horizontal {
	position:absolute; overflow-y:visible; overflow-x:hidden;
	margin-top:auto; margin-bottom:auto;
    top:0; bottom:0;
}

.paper-vertical .page, .paper-horizontal .page {
	border:1px solid #bbb;	
	margin:4px 4px 4px 0;
	-moz-box-shadow:0px 0px 0px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}

html[data-dir="rtl"] .paper-horizontal .page { float:right; }

.one-page-scroll .page {
	border:none;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.mejs-mediaelement { overflow:hidden; }
.mejs-container{position:relative;background:none;}
.mejs-none .mejs-overlay-loading, .mejs-none .mejs-overlay-button, .mejs-none .mejs-controls, .mejs-bigplay .mejs-controls {display:none !important;}
.mejs-uncon video { object-fit:fill; }
.mejs-coverfit video { object-fit:cover; }
.mejs-ccsize-large .mejs-captions-layer {font-size:20px;}
.mejs-ccsize-xlarge .mejs-captions-layer {font-size:26px;}
.mejs-video .mejs-controls { transform:translateZ(0); }

.mejs-audio.mejs-no-controls { display:none; }
.vid-scaled .mejs-layers, .vid-scaled .mejs-controls {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
}

.liquid .page, .page.liquid {
	position:absolute; width:100%; height:100%;
	overflow:hidden; display:none;
}

.page.liquid { /*for multi-file*/
    display:block;
}
.liquid .page.activePage {display:block; }
.liquid video {width:100%; height:100%; }

.hidden { display:none !important; }
.mso, .group, .mso > .state { pointer-events:none; }
.mso > .state * { pointer-events: inherit; }
.mso > .state.active * { pointer-events:auto; }
[data-tapstart="1"], [data-useswipe="1"], .group > * { pointer-events:auto; }
.mso > .state { display:block; opacity:0; width:100% !important; height:inherit !important; position:absolute; z-index:-1; }
.liquid .mso > .state { height:100% !important; }
.liquid label > .state {
    width:100% !important;
    height:100% !important;
}
.mso > .state.active, .mso > .state.transition { display:block; opacity:1; z-index:0; }
.mso.slideshow.seq, .panzoom, .fauxgroup { overflow:hidden; }
.panzoom { cursor:move; cursor:-moz-grab; cursor:-webkit-grab; }
.panzoom > .content {
	-ms-transform:none;
    -ms-transform-origin:auto;
    -webkit-transform:none;
    -webkit-transform-origin:auto;
    transform:none;
    transform-origin:auto;
}
.panzoom:not(.dragging) > .content {
	transition:all .3s;
}

button .state {width:100% !important; height:100% !important;}
button .state.btn-on, button .state.btn-down { display:none; }
html:not(.ios) button.has-on:hover .state.btn-on { display:block; }
html:not(.ios) button.has-on:hover .state.btn-off, html:not(.ios) button.has-on:hover .state.btn-down { display:none; }
html:not(.zz) button.has-down .state { pointer-events:none; }
html:not(.zz) button.has-down:active .state.btn-down { display:block; }
html:not(.zz) button.has-down:active .state.btn-off, html:not(.zz) button.has-down:active .state.btn-on { display:none; }

.align-vert { display:table; }
[class^="valign"] {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	columns:inherit;
}
.valign-bottom { vertical-align:bottom; }
[class^="valign"] > p { position:relative; }

.flex-image, .fill-image { background-repeat:no-repeat; }
.flex-image { background-size:contain; background-position:center; }
.fill-image { background-size:cover; }

/*tabs*/
p.tabs, p.tabs > a { 
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex; 
}
p.tabs > a {
	width:100%;
	width:-moz-available;
	width:-webkit-fill-available;
}
p.tabs span.tabbed-right { 
	-ms-flex-grow:1; 
	-webkit-flex-grow:1; 
	flex-grow:1; 
	text-align:right; 
}
p.tabs span.tabbed-center { 
	-ms-flex-grow:50; 
	-webkit-flex-grow:50; 
	flex-grow:50; 
	text-align:center; 
}
span.tabbed-standard { text-indent:1.5ex;padding-left:1.5ex; }
p.no-start-indent { text-indent:0px !important; }

/*anchor object styles*/
.ao-noTextWrap { position:absolute; }
.ao-alignLeft, .ao-leftFullWidth { float:left; position:relative; }
.ao-alignRight, .ao-rightFullWidth { float:right; transform-origin:90% 50%; -webkit-transform:90% 50%; /*fix for anchored animation*/ }
.ao-alignCenter {display:block; margin-left:auto; margin-right:auto;}
.ao-inlineTable { display:block; }
.ao-leftFullWidth { padding-right:100%; }
.ao-rightFullWidth { padding-left:100%; }
.anchorGroup { position:relative; };
div.ao-alignLeft:before, div.ao-leftFullWidth:before { content:''; float:left; display:none; }
div.ao-alignRight:before, div.ao-leftFullRight:before { content:''; float:right; display:none; }
.anchorGroup > .mso, .anchorGroup > .group { position:relative; }

ul.thumbs {
	padding:20px; white-space:nowrap; width:1px;
}

ul.thumbs li { /*Baker index thumbnails*/
    display:inline; list-style-type:none;
    margin:0 4px; outline:none;
    vertical-align:top;
}
ul.thumbs > li img { box-shadow:0 0 4px rgba(0, 0, 0, 0.5); }
.baker audio[controls] {min-width:400px;} /*fix progress bar*/

@media print { 
	#container,.page-scale-wrap{transform:none !important;}
	[class*=" btn-form-"]{display:none;}
}

:-ms-fullscreen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-moz-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-webkit-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }

:-ms-fullscreen .paper-vertical .page { display:none; }
:-moz-full-screen .paper-vertical .page { display:none; }
:-webkit-full-screen .paper-vertical .page { display:none; }

:-ms-fullscreen .paper-horizontal .page { display:none; }
:-moz-full-screen .paper-horizontal .page { display:none; }
:-webkit-full-screen .paper-horizontal .page { display:none; }

:-ms-fullscreen .page.activePage { display:block; }
:-moz-full-screen .page.activePage { display:block; }
:-webkit-full-screen .page.activePage { display:block; }

:-webkit-full-screen .hideFS { display:none; }
:-ms-fullscreen .hideFS { display:none; }
:-moz-full-screen .hideFS { display:none; }

/*CSS Generated from InDesign Styles*/

body, #container-wrap { background:#ededed; }
:-webkit-full-screen { background:#ededed; }
#loadIndicator span:after { padding-left:1ex; content:'loading content...'; }
#slider { width:842px; height:595px; }
.page-scale-wrap { width:842px; height:595px; background: #fff !important; }
.paper-vertical { width:842px; height:100%; }
.paper-horizontal { width:24052px; height:607px; }
@media all and (max-height:595px) {
	.paper-horizontal { margin:0;top:0;}
	#container > .page { margin:0 auto;}/*pos top for webkit+baker*/
}
@media all and (max-width:842px) {
	.paper-vertical .page, .paper-horizontal .page, .anythingSlider-in5 { padding:0;top:0;border:0; }
	.paper-vertical, .paper-horizontal { padding:0; }
}
/*start:fixedpos*/
.pageItem.fixed-pos-elem { position:fixed !important; }
.fixed-center-x {
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.fixed-center-y {
	top:50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.fixed-center-y.fixed-center-x {
	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#item27493 {
	width:95px !important;
	height:30px !important;
	border-radius:100px;
	background:#87189d;
}

#item27467 {
	width:95px !important;
	height:30px !important;
	border-radius:100px;
	background:#fff;
}

#item27464 {
	width:95px !important;
	height:30px !important;
	left:692px !important;
	top:485px !important;
}

#item28688 {
	width:101px !important;
	height:32px !important;
	border-radius:100px;
	background:#87189d;
}

#item28662 {
	width:101px !important;
	height:32px !important;
	border-radius:100px;
	background:#fff;
}

#item28659 {
	width:101px !important;
	height:32px !important;
	left:157px !important;
	top:464px !important;
}

#item22881 {
	width:254px !important;
	height:12px !important;
	left:427px !important;
	top:190px !important;
}

#item23460 {
	width:254px !important;
	height:12px !important;
	left:427px !important;
	top:211px !important;
}

#item23489 {
	width:254px !important;
	height:12px !important;
	left:427px !important;
	top:232px !important;
}

#item23519 {
	width:254px !important;
	height:12px !important;
	left:427px !important;
	top:253px !important;
}

#item23546 {
	width:254px !important;
	height:12px !important;
	left:427px !important;
	top:274px !important;
}

#item23575 {
	width:254px !important;
	height:12px !important;
	left:427px !important;
	top:295px !important;
}

#item23603 {
	width:254px !important;
	height:12px !important;
	left:427px !important;
	top:316px !important;
}

#item23633 {
	width:254px !important;
	height:12px !important;
	left:427px !important;
	top:337px !important;
}

#item23660 {
	width:254px !important;
	height:12px !important;
	left:427px !important;
	top:358px !important;
}

#item23688 {
	width:254px !important;
	height:12px !important;
	left:427px !important;
	top:379px !important;
}

#item23719 {
	width:254px !important;
	height:12px !important;
	left:427px !important;
	top:400px !important;
}

#item23764 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23752 {
	width:18px !important;
	height:20px !important;
}

#item23761 {
	width:18px !important;
	height:20px !important;
	left:796px !important;
	top:23px !important;
}

#item23775 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23754 {
	width:18px !important;
	height:20px !important;
}

#item23772 {
	width:18px !important;
	height:20px !important;
	left:775px !important;
	top:23px !important;
}

#item23782 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23755 {
	width:18px !important;
	height:20px !important;
}

#item23779 {
	width:18px !important;
	height:20px !important;
	left:754px !important;
	top:23px !important;
}

#item28820 {
	width:254px !important;
	height:12px !important;
	left:89px !important;
	top:281px !important;
}

#item28893 {
	width:254px !important;
	height:12px !important;
	left:89px !important;
	top:302px !important;
}

#item28966 {
	width:254px !important;
	height:12px !important;
	left:89px !important;
	top:323px !important;
}

#item29040 {
	width:254px !important;
	height:12px !important;
	left:89px !important;
	top:344px !important;
}

#item29113 {
	width:254px !important;
	height:12px !important;
	left:89px !important;
	top:365px !important;
}

#item29186 {
	width:254px !important;
	height:12px !important;
	left:89px !important;
	top:386px !important;
}

#item29259 {
	width:254px !important;
	height:12px !important;
	left:89px !important;
	top:407px !important;
}

#item29335 {
	width:254px !important;
	height:12px !important;
	left:89px !important;
	top:428px !important;
}

#item29408 {
	width:254px !important;
	height:12px !important;
	left:89px !important;
	top:449px !important;
}

#item29482 {
	width:254px !important;
	height:12px !important;
	left:89px !important;
	top:470px !important;
}

#item29555 {
	width:254px !important;
	height:12px !important;
	left:89px !important;
	top:490px !important;
}

#item29664 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item29661 {
	width:25px !important;
	height:28px !important;
}

#item29658 {
	width:25px !important;
	height:28px !important;
	left:360px !important;
	top:15px !important;
}

#item29672 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item29669 {
	width:25px !important;
	height:28px !important;
}

#item29666 {
	width:25px !important;
	height:28px !important;
	left:331px !important;
	top:15px !important;
}

#item29680 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item29677 {
	width:25px !important;
	height:28px !important;
}

#item29674 {
	width:25px !important;
	height:28px !important;
	left:301px !important;
	top:15px !important;
}

#item19822 {
	mix-blend-mode:overlay;
	opacity:0.20;
	width:843px !important;
	height:596px !important;
	left:1px !important;
	top:-1px !important;
	background:#fff;
}

#item23791 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23788 {
	width:18px !important;
	height:20px !important;
}

#item23785 {
	width:18px !important;
	height:20px !important;
	left:796px !important;
	top:23px !important;
}

#item23803 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23799 {
	width:18px !important;
	height:20px !important;
}

#item23796 {
	width:18px !important;
	height:20px !important;
	left:775px !important;
	top:23px !important;
}

#item23813 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23810 {
	width:18px !important;
	height:20px !important;
}

#item23807 {
	width:18px !important;
	height:20px !important;
	left:754px !important;
	top:23px !important;
}

#item36610 {
	width:134px !important;
	height:87px !important;
	left:352px !important;
	top:98px !important;
}

#item36859 {
	width:134px !important;
	height:45px !important;
	left:352px !important;
	top:254px !important;
}

#item29823 {
	width:26px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item29820 {
	width:26px !important;
	height:28px !important;
}

#item29817 {
	width:26px !important;
	height:28px !important;
	left:360px !important;
	top:14px !important;
}

#item29831 {
	width:26px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item29828 {
	width:26px !important;
	height:28px !important;
}

#item29825 {
	width:26px !important;
	height:28px !important;
	left:331px !important;
	top:14px !important;
}

#item29840 {
	width:26px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item29837 {
	width:26px !important;
	height:28px !important;
}

#item29834 {
	width:26px !important;
	height:28px !important;
	left:301px !important;
	top:14px !important;
}

#item36887 {
	width:134px !important;
	height:83px !important;
	left:137px !important;
	top:198px !important;
}

#item37025 {
	width:134px !important;
	height:48px !important;
	left:137px !important;
	top:336px !important;
}

#item23825 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23821 {
	width:18px !important;
	height:20px !important;
}

#item23818 {
	width:18px !important;
	height:20px !important;
	left:796px !important;
	top:23px !important;
}

#item23835 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23832 {
	width:18px !important;
	height:20px !important;
}

#item23829 {
	width:18px !important;
	height:20px !important;
	left:775px !important;
	top:23px !important;
}

#item23845 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23842 {
	width:18px !important;
	height:20px !important;
}

#item23839 {
	width:18px !important;
	height:20px !important;
	left:754px !important;
	top:23px !important;
}

#item36688 {
	width:153px !important;
	height:210px !important;
	left:-3px !important;
	top:265px !important;
}

#item29969 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item29966 {
	width:25px !important;
	height:28px !important;
}

#item29963 {
	width:25px !important;
	height:28px !important;
	left:361px !important;
	top:15px !important;
}

#item29978 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item29974 {
	width:25px !important;
	height:28px !important;
}

#item29971 {
	width:25px !important;
	height:28px !important;
	left:331px !important;
	top:15px !important;
}

#item29986 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item29983 {
	width:25px !important;
	height:28px !important;
}

#item29980 {
	width:25px !important;
	height:28px !important;
	left:302px !important;
	top:15px !important;
}

#item36964 {
	width:153px !important;
	height:210px !important;
	left:-75px !important;
	top:235px !important;
}

#item23856 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23853 {
	width:18px !important;
	height:20px !important;
}

#item23850 {
	width:18px !important;
	height:20px !important;
	left:796px !important;
	top:23px !important;
}

#item23866 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23863 {
	width:18px !important;
	height:20px !important;
}

#item23860 {
	width:18px !important;
	height:20px !important;
	left:775px !important;
	top:23px !important;
}

#item23877 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23874 {
	width:18px !important;
	height:20px !important;
}

#item23870 {
	width:18px !important;
	height:20px !important;
	left:754px !important;
	top:23px !important;
}

#item30065 {
	width:26px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item30062 {
	width:26px !important;
	height:28px !important;
}

#item30059 {
	width:26px !important;
	height:28px !important;
	left:360px !important;
	top:14px !important;
}

#item30073 {
	width:26px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item30070 {
	width:26px !important;
	height:28px !important;
}

#item30067 {
	width:26px !important;
	height:28px !important;
	left:331px !important;
	top:14px !important;
}

#item30082 {
	width:26px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item30079 {
	width:26px !important;
	height:28px !important;
}

#item30075 {
	width:26px !important;
	height:28px !important;
	left:301px !important;
	top:14px !important;
}

#item23889 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23886 {
	width:18px !important;
	height:20px !important;
}

#item23883 {
	width:18px !important;
	height:20px !important;
	left:796px !important;
	top:23px !important;
}

#item23899 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23896 {
	width:18px !important;
	height:20px !important;
}

#item23893 {
	width:18px !important;
	height:20px !important;
	left:775px !important;
	top:23px !important;
}

#item23909 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23906 {
	width:18px !important;
	height:20px !important;
}

#item23903 {
	width:18px !important;
	height:20px !important;
	left:754px !important;
	top:23px !important;
}

#item26363 {
	width:228px !important;
	height:74px !important;
	left:54px !important;
	top:340px !important;
	box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item36741 {
	width:153px !important;
	height:196px !important;
	left:395px !important;
	top:198px !important;
}

#item30332 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item30329 {
	width:25px !important;
	height:28px !important;
}

#item30326 {
	width:25px !important;
	height:28px !important;
	left:360px !important;
	top:15px !important;
}

#item30340 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item30337 {
	width:25px !important;
	height:28px !important;
}

#item30334 {
	width:25px !important;
	height:28px !important;
	left:330px !important;
	top:15px !important;
}

#item30349 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item30345 {
	width:25px !important;
	height:28px !important;
}

#item30342 {
	width:25px !important;
	height:28px !important;
	left:301px !important;
	top:15px !important;
}

#item30374 {
	width:357px !important;
	height:87px !important;
	left:28px !important;
	top:480px !important;
	box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item36993 {
	width:153px !important;
	height:196px !important;
	left:-74px !important;
	top:107px !important;
}

#item26751 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item26748 {
	width:18px !important;
	height:20px !important;
}

#item26745 {
	width:18px !important;
	height:20px !important;
	left:796px !important;
	top:23px !important;
}

#item26759 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item26756 {
	width:18px !important;
	height:20px !important;
}

#item26753 {
	width:18px !important;
	height:20px !important;
	left:775px !important;
	top:23px !important;
}

#item26768 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item26764 {
	width:18px !important;
	height:20px !important;
}

#item26761 {
	width:18px !important;
	height:20px !important;
	left:754px !important;
	top:23px !important;
}

#item30524 {
	width:26px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item30521 {
	width:26px !important;
	height:28px !important;
}

#item30517 {
	width:26px !important;
	height:28px !important;
	left:360px !important;
	top:15px !important;
}

#item30532 {
	width:26px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item30529 {
	width:26px !important;
	height:28px !important;
}

#item30526 {
	width:26px !important;
	height:28px !important;
	left:330px !important;
	top:15px !important;
}

#item30541 {
	width:26px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item30537 {
	width:26px !important;
	height:28px !important;
}

#item30534 {
	width:26px !important;
	height:28px !important;
	left:300px !important;
	top:15px !important;
}

#item23921 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23918 {
	width:18px !important;
	height:20px !important;
}

#item23915 {
	width:18px !important;
	height:20px !important;
	left:796px !important;
	top:23px !important;
}

#item23931 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23928 {
	width:18px !important;
	height:20px !important;
}

#item23925 {
	width:18px !important;
	height:20px !important;
	left:775px !important;
	top:23px !important;
}

#item23941 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23938 {
	width:18px !important;
	height:20px !important;
}

#item23935 {
	width:18px !important;
	height:20px !important;
	left:754px !important;
	top:23px !important;
}

#item36829 {
	width:117px !important;
	height:168px !important;
	left:33px !important;
	top:209px !important;
}

#item30699 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item30696 {
	width:25px !important;
	height:28px !important;
}

#item30693 {
	width:25px !important;
	height:28px !important;
	left:360px !important;
	top:15px !important;
}

#item30707 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item30704 {
	width:25px !important;
	height:28px !important;
}

#item30701 {
	width:25px !important;
	height:28px !important;
	left:331px !important;
	top:15px !important;
}

#item30716 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item30712 {
	width:25px !important;
	height:28px !important;
}

#item30709 {
	width:25px !important;
	height:28px !important;
	left:301px !important;
	top:15px !important;
}

#item37050 {
	width:117px !important;
	height:138px !important;
	left:-39px !important;
	top:152px !important;
}

#item23951 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23948 {
	width:18px !important;
	height:20px !important;
}

#item23945 {
	width:18px !important;
	height:20px !important;
	left:796px !important;
	top:23px !important;
}

#item23962 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23959 {
	width:18px !important;
	height:20px !important;
}

#item23956 {
	width:18px !important;
	height:20px !important;
	left:775px !important;
	top:23px !important;
}

#item23972 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23969 {
	width:18px !important;
	height:20px !important;
}

#item23966 {
	width:18px !important;
	height:20px !important;
	left:754px !important;
	top:23px !important;
}

#item19974 {
	width:175px !important;
	height:133px !important;
	left:54px !important;
	top:103px !important;
	box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item20024 {
	width:175px !important;
	height:133px !important;
	left:54px !important;
	top:250px !important;
	box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item20000 {
	width:175px !important;
	height:133px !important;
	left:239px !important;
	top:103px !important;
	box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item20025 {
	width:175px !important;
	height:133px !important;
	left:239px !important;
	top:250px !important;
	box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item30851 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item30848 {
	width:25px !important;
	height:28px !important;
}

#item30845 {
	width:25px !important;
	height:28px !important;
	left:360px !important;
	top:14px !important;
}

#item30860 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item30856 {
	width:25px !important;
	height:28px !important;
}

#item30853 {
	width:25px !important;
	height:28px !important;
	left:331px !important;
	top:14px !important;
}

#item30868 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item30865 {
	width:25px !important;
	height:28px !important;
}

#item30862 {
	width:25px !important;
	height:28px !important;
	left:301px !important;
	top:14px !important;
}

#item34648 {
	width:358px !important;
	height:84px !important;
	left:28px !important;
	top:210px !important;
	box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item34673 {
	width:358px !important;
	height:84px !important;
	left:28px !important;
	top:304px !important;
	box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item34703 {
	width:358px !important;
	height:80px !important;
	left:28px !important;
	top:401px !important;
	box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item34728 {
	width:358px !important;
	height:87px !important;
	left:28px !important;
	top:492px !important;
	box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item23990 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23987 {
	width:18px !important;
	height:20px !important;
}

#item23984 {
	width:18px !important;
	height:20px !important;
	left:795px !important;
	top:23px !important;
}

#item24000 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item23997 {
	width:18px !important;
	height:20px !important;
}

#item23994 {
	width:18px !important;
	height:20px !important;
	left:775px !important;
	top:23px !important;
}

#item24010 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24007 {
	width:18px !important;
	height:20px !important;
}

#item24004 {
	width:18px !important;
	height:20px !important;
	left:754px !important;
	top:23px !important;
}

#item31143 {
	width:26px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item31140 {
	width:26px !important;
	height:28px !important;
}

#item31137 {
	width:26px !important;
	height:28px !important;
	left:360px !important;
	top:14px !important;
}

#item31152 {
	width:26px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item31148 {
	width:26px !important;
	height:28px !important;
}

#item31145 {
	width:26px !important;
	height:28px !important;
	left:330px !important;
	top:14px !important;
}

#item31160 {
	width:26px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item31157 {
	width:26px !important;
	height:28px !important;
}

#item31154 {
	width:26px !important;
	height:28px !important;
	left:300px !important;
	top:14px !important;
}

#item20204 {
	width:182px !important;
	height:124px !important;
	left:415px !important;
	top:157px !important;
	box-shadow:0px 1px 7px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 1px 7px 0px rgba(0,0,0,0.15);
	border-radius:8px;
	background:#fff;
}

#item20207 {
	width:182px !important;
	height:124px !important;
	left:415px !important;
	top:292px !important;
	box-shadow:0px 1px 7px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 1px 7px 0px rgba(0,0,0,0.15);
	border-radius:8px;
	background:#fff;
}

#item20209 {
	width:182px !important;
	height:124px !important;
	left:415px !important;
	top:427px !important;
	box-shadow:0px 1px 7px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 1px 7px 0px rgba(0,0,0,0.15);
	border-radius:8px;
	background:#fff;
}

#item20206 {
	width:182px !important;
	height:124px !important;
	left:606px !important;
	top:157px !important;
	box-shadow:0px 1px 7px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 1px 7px 0px rgba(0,0,0,0.15);
	border-radius:8px;
	background:#fff;
}

#item20208 {
	width:182px !important;
	height:124px !important;
	left:606px !important;
	top:292px !important;
	box-shadow:0px 1px 7px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 1px 7px 0px rgba(0,0,0,0.15);
	border-radius:8px;
	background:#fff;
}

#item20210 {
	width:182px !important;
	height:124px !important;
	left:606px !important;
	top:427px !important;
	box-shadow:0px 1px 7px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 1px 7px 0px rgba(0,0,0,0.15);
	border-radius:8px;
	background:#fff;
}

#item24020 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24017 {
	width:18px !important;
	height:20px !important;
}

#item24014 {
	width:18px !important;
	height:20px !important;
	left:796px !important;
	top:23px !important;
}

#item24031 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24027 {
	width:18px !important;
	height:20px !important;
}

#item24024 {
	width:18px !important;
	height:20px !important;
	left:775px !important;
	top:23px !important;
}

#item24042 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24039 {
	width:18px !important;
	height:20px !important;
}

#item24035 {
	width:18px !important;
	height:20px !important;
	left:754px !important;
	top:23px !important;
}

#item35956 {
	width:409px !important;
	height:82px !important;
	left:28px !important;
	top:253px !important;
	box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item35958 {
	width:409px !important;
	height:82px !important;
	left:28px !important;
	top:343px !important;
	box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item35959 {
	width:409px !important;
	height:82px !important;
	left:28px !important;
	top:434px !important;
	box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item35960 {
	width:409px !important;
	height:82px !important;
	left:28px !important;
	top:523px !important;
	box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item35961 {
	width:409px !important;
	height:82px !important;
	left:28px !important;
	top:613px !important;
	box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item35962 {
	width:409px !important;
	height:82px !important;
	left:28px !important;
	top:704px !important;
	box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item31484 {
	width:25px !important;
	height:27px !important;
	border-radius:2px;
	background:#fff;
}

#item31480 {
	width:25px !important;
	height:27px !important;
}

#item31477 {
	width:25px !important;
	height:27px !important;
	left:361px !important;
	top:15px !important;
}

#item31492 {
	width:25px !important;
	height:27px !important;
	border-radius:2px;
	background:#fff;
}

#item31489 {
	width:25px !important;
	height:27px !important;
}

#item31486 {
	width:25px !important;
	height:27px !important;
	left:332px !important;
	top:15px !important;
}

#item31500 {
	width:25px !important;
	height:27px !important;
	border-radius:2px;
	background:#fff;
}

#item31497 {
	width:25px !important;
	height:27px !important;
}

#item31494 {
	width:25px !important;
	height:27px !important;
	left:303px !important;
	top:15px !important;
}

#item20239 {
	width:842px !important;
	height:323px !important;
	top:273px !important;
	background:#87189d;
}

#item20238 {
	width:415px !important;
	height:485px !important;
	left:399px !important;
	top:247px !important;
	box-shadow:-2px 0px 10px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow:-2px 0px 10px 0px rgba(0,0,0,0.2);
	border-radius:15px;
	background:#fff;
}

#item24051 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24048 {
	width:18px !important;
	height:20px !important;
}

#item24045 {
	width:18px !important;
	height:20px !important;
	left:796px !important;
	top:23px !important;
}

#item24061 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24058 {
	width:18px !important;
	height:20px !important;
}

#item24055 {
	width:18px !important;
	height:20px !important;
	left:775px !important;
	top:23px !important;
}

#item24071 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24068 {
	width:18px !important;
	height:20px !important;
}

#item24065 {
	width:18px !important;
	height:20px !important;
	left:754px !important;
	top:23px !important;
}

#item31599 {
	width:438px !important;
	height:501px !important;
	left:-11px !important;
	top:307px !important;
	background:#87189d;
}

#item31690 {
	width:25px !important;
	height:27px !important;
	border-radius:2px;
	background:#fff;
}

#item31687 {
	width:25px !important;
	height:27px !important;
}

#item31684 {
	width:25px !important;
	height:27px !important;
	left:361px !important;
	top:15px !important;
}

#item31698 {
	width:25px !important;
	height:27px !important;
	border-radius:2px;
	background:#fff;
}

#item31695 {
	width:25px !important;
	height:27px !important;
}

#item31692 {
	width:25px !important;
	height:27px !important;
	left:331px !important;
	top:15px !important;
}

#item31707 {
	width:25px !important;
	height:27px !important;
	border-radius:2px;
	background:#fff;
}

#item31704 {
	width:25px !important;
	height:27px !important;
}

#item31700 {
	width:25px !important;
	height:27px !important;
	left:302px !important;
	top:15px !important;
}

#item34805 {
	width:421px !important;
	height:423px !important;
	left:29px !important;
	top:282px !important;
	box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item24084 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24081 {
	width:18px !important;
	height:20px !important;
}

#item24078 {
	width:18px !important;
	height:20px !important;
	left:796px !important;
	top:23px !important;
}

#item24094 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24091 {
	width:18px !important;
	height:20px !important;
}

#item24088 {
	width:18px !important;
	height:20px !important;
	left:775px !important;
	top:23px !important;
}

#item24105 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24102 {
	width:18px !important;
	height:20px !important;
}

#item24099 {
	width:18px !important;
	height:20px !important;
	left:754px !important;
	top:23px !important;
}

#item31930 {
	width:26px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item31926 {
	width:26px !important;
	height:28px !important;
}

#item31923 {
	width:26px !important;
	height:28px !important;
	left:360px !important;
	top:14px !important;
}

#item31938 {
	width:26px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item31935 {
	width:26px !important;
	height:28px !important;
}

#item31932 {
	width:26px !important;
	height:28px !important;
	left:330px !important;
	top:14px !important;
}

#item31946 {
	width:26px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item31943 {
	width:26px !important;
	height:28px !important;
}

#item31940 {
	width:26px !important;
	height:28px !important;
	left:300px !important;
	top:14px !important;
}

#item27784 {
	width:356px !important;
	height:190px !important;
	left:532px !important;
	top:176px !important;
	box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item24114 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24111 {
	width:18px !important;
	height:20px !important;
}

#item24108 {
	width:18px !important;
	height:20px !important;
	left:796px !important;
	top:23px !important;
}

#item24124 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24121 {
	width:18px !important;
	height:20px !important;
}

#item24118 {
	width:18px !important;
	height:20px !important;
	left:775px !important;
	top:23px !important;
}

#item24134 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24131 {
	width:18px !important;
	height:20px !important;
}

#item24128 {
	width:18px !important;
	height:20px !important;
	left:754px !important;
	top:23px !important;
}

#item31976 {
	width:358px !important;
	height:161px !important;
	left:28px !important;
	top:299px !important;
	box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item32431 {
	width:25px !important;
	height:27px !important;
	border-radius:2px;
	background:#fff;
}

#item32428 {
	width:25px !important;
	height:27px !important;
}

#item32425 {
	width:25px !important;
	height:27px !important;
	left:361px !important;
	top:15px !important;
}

#item32439 {
	width:25px !important;
	height:27px !important;
	border-radius:2px;
	background:#fff;
}

#item32436 {
	width:25px !important;
	height:27px !important;
}

#item32433 {
	width:25px !important;
	height:27px !important;
	left:332px !important;
	top:15px !important;
}

#item32447 {
	width:25px !important;
	height:27px !important;
	border-radius:2px;
	background:#fff;
}

#item32444 {
	width:25px !important;
	height:27px !important;
}

#item32441 {
	width:25px !important;
	height:27px !important;
	left:303px !important;
	top:15px !important;
}

#item24218 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24215 {
	width:18px !important;
	height:20px !important;
}

#item24212 {
	width:18px !important;
	height:20px !important;
	left:795px !important;
	top:23px !important;
}

#item24229 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24225 {
	width:18px !important;
	height:20px !important;
}

#item24222 {
	width:18px !important;
	height:20px !important;
	left:774px !important;
	top:23px !important;
}

#item24239 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24236 {
	width:18px !important;
	height:20px !important;
}

#item24233 {
	width:18px !important;
	height:20px !important;
	left:754px !important;
	top:23px !important;
}

#item32627 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item32624 {
	width:25px !important;
	height:28px !important;
}

#item32621 {
	width:25px !important;
	height:28px !important;
	left:360px !important;
	top:14px !important;
}

#item32635 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item32632 {
	width:25px !important;
	height:28px !important;
}

#item32629 {
	width:25px !important;
	height:28px !important;
	left:331px !important;
	top:14px !important;
}

#item32644 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item32641 {
	width:25px !important;
	height:28px !important;
}

#item32637 {
	width:25px !important;
	height:28px !important;
	left:301px !important;
	top:14px !important;
}

#item42923 {
	width:855px !important;
	height:540px !important;
	left:-7px !important;
	top:70px !important;
	background:#87189d;
}

#item24430 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24427 {
	width:18px !important;
	height:20px !important;
}

#item24424 {
	width:18px !important;
	height:20px !important;
	left:796px !important;
	top:23px !important;
}

#item24442 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24439 {
	width:18px !important;
	height:20px !important;
}

#item24435 {
	width:18px !important;
	height:20px !important;
	left:775px !important;
	top:23px !important;
}

#item24452 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24449 {
	width:18px !important;
	height:20px !important;
}

#item24446 {
	width:18px !important;
	height:20px !important;
	left:754px !important;
	top:23px !important;
}

#item43419 {
	width:96px !important;
	height:23px !important;
	border-radius:58px;
	border:solid 1px #fff;
}

#item43411 {
	width:95px !important;
	height:22px !important;
	left:1px !important;
	top:1px !important;
	border-radius:58px;
	background:#fff;
}

#item43416 {
	width:96px !important;
	height:23px !important;
	left:54px !important;
	top:544px !important;
}

#item32717 {
	width:432px !important;
	height:592px !important;
	left:-9px !important;
	top:240px !important;
	background:#87189d;
}

#item32833 {
	width:25px !important;
	height:27px !important;
	border-radius:2px;
	background:#fff;
}

#item32830 {
	width:25px !important;
	height:27px !important;
}

#item32827 {
	width:25px !important;
	height:27px !important;
	left:361px !important;
	top:15px !important;
}

#item32841 {
	width:25px !important;
	height:27px !important;
	border-radius:2px;
	background:#fff;
}

#item32838 {
	width:25px !important;
	height:27px !important;
}

#item32835 {
	width:25px !important;
	height:27px !important;
	left:332px !important;
	top:15px !important;
}

#item32849 {
	width:25px !important;
	height:27px !important;
	border-radius:2px;
	background:#fff;
}

#item32846 {
	width:25px !important;
	height:27px !important;
}

#item32843 {
	width:25px !important;
	height:27px !important;
	left:303px !important;
	top:15px !important;
}

#item43474 {
	width:96px !important;
	height:23px !important;
	border-radius:58px;
	border:solid 1px #ffffff;
}

#item43448 {
	width:95px !important;
	height:22px !important;
	left:1px !important;
	top:1px !important;
	border-radius:58px;
	background:#fff;
}

#item43445 {
	width:96px !important;
	height:23px !important;
	left:102px !important;
	top:661px !important;
}

#item24614 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24611 {
	width:18px !important;
	height:20px !important;
}

#item24607 {
	width:18px !important;
	height:20px !important;
	left:796px !important;
	top:23px !important;
}

#item24622 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24619 {
	width:18px !important;
	height:20px !important;
}

#item24616 {
	width:18px !important;
	height:20px !important;
	left:775px !important;
	top:23px !important;
}

#item24631 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24628 {
	width:18px !important;
	height:20px !important;
}

#item24624 {
	width:18px !important;
	height:20px !important;
	left:754px !important;
	top:23px !important;
}

#item21794 {
	width:478px !important;
	height:103px !important;
	left:427px !important;
	top:435px !important;
	box-shadow:-2px 0px 10px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:-2px 0px 10px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item33224 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item33220 {
	width:25px !important;
	height:28px !important;
}

#item33217 {
	width:25px !important;
	height:28px !important;
	left:360px !important;
	top:15px !important;
}

#item33232 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item33229 {
	width:25px !important;
	height:28px !important;
}

#item33226 {
	width:25px !important;
	height:28px !important;
	left:331px !important;
	top:15px !important;
}

#item33240 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item33237 {
	width:25px !important;
	height:28px !important;
}

#item33234 {
	width:25px !important;
	height:28px !important;
	left:301px !important;
	top:15px !important;
}

#item33242 {
	width:478px !important;
	height:94px !important;
	left:28px !important;
	top:642px !important;
	box-shadow:-2px 0px 10px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:-2px 0px 10px 0px rgba(0,0,0,0.1);
	border-radius:8px;
	background:#fff;
}

#item24639 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24636 {
	width:18px !important;
	height:20px !important;
}

#item24633 {
	width:18px !important;
	height:20px !important;
	left:796px !important;
	top:23px !important;
}

#item24648 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24645 {
	width:18px !important;
	height:20px !important;
}

#item24642 {
	width:18px !important;
	height:20px !important;
	left:775px !important;
	top:23px !important;
}

#item24657 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item24653 {
	width:18px !important;
	height:20px !important;
}

#item24650 {
	width:18px !important;
	height:20px !important;
	left:754px !important;
	top:23px !important;
}

#item33458 {
	width:26px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item33454 {
	width:26px !important;
	height:28px !important;
}

#item33450 {
	width:26px !important;
	height:28px !important;
	left:360px !important;
	top:15px !important;
}

#item33466 {
	width:26px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item33463 {
	width:26px !important;
	height:28px !important;
}

#item33460 {
	width:26px !important;
	height:28px !important;
	left:330px !important;
	top:15px !important;
}

#item33474 {
	width:26px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item33471 {
	width:26px !important;
	height:28px !important;
}

#item33468 {
	width:26px !important;
	height:28px !important;
	left:300px !important;
	top:15px !important;
}

#item26296 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item26293 {
	width:18px !important;
	height:20px !important;
}

#item26290 {
	width:18px !important;
	height:20px !important;
	left:796px !important;
	top:23px !important;
}

#item26313 {
	width:18px !important;
	height:20px !important;
	border-radius:2px;
	background:#fff;
}

#item26310 {
	width:18px !important;
	height:20px !important;
}

#item26307 {
	width:18px !important;
	height:20px !important;
	left:775px !important;
	top:23px !important;
}

#item33626 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item33623 {
	width:25px !important;
	height:28px !important;
}

#item33620 {
	width:25px !important;
	height:28px !important;
	left:360px !important;
	top:14px !important;
}

#item33634 {
	width:25px !important;
	height:28px !important;
	border-radius:2px;
	background:#fff;
}

#item33631 {
	width:25px !important;
	height:28px !important;
}

#item33628 {
	width:25px !important;
	height:28px !important;
	left:331px !important;
	top:14px !important;
}
#in5footer,  #prefooter {display:none;}

[class*=" mq-"]{ display:none; }
.mq-default { display:block; }
@media all and (max-width:544px){ [class*=" mq-"], .mq-default { display:none; } .mq-414 {display:block; } }

